.*
!/.gitignore
/build/**
/build/*
/build/
/data/coverage_maps/**
/data/coverage_maps/*
/data/coverage_maps/
/visualization_python/__pycache__/**
/visualization_python/__pycache__/*
/visualization_python/__pycache__/
/visualization_python/animation/**
/visualization_python/animation/*
/visualization_python/animation/