.*
!/.gitignore
/build/**
/build/*
/build/
/data_vx/coverage_maps/**
/data_vx/coverage_maps/*
/data_vx/coverage_maps/
/data/coverage_maps/**
/data/coverage_maps/*
/data/coverage_maps/
/data_vx/tsp/**
/data_vx/tsp/*
/data_vx/tsp/
/data/tsp/**
/data/tsp/*
/data/tsp/
/visualization_python/__pycache__/**
/visualization_python/__pycache__/*
/visualization_python/__pycache__/
/visualization_python/animation/**
/visualization_python/animation/*
/visualization_python/animation/